terraform.tfstate
*.backup
overrides
.openstack.env
override.tf
stacks
keys/**
!keys/.gitkeep
.terraform
demo
public-pivate-network
*.tfvars
docs/include
docs/build
docs/bin
docs/build/doctrees
docs/lib
docs/build/html
docs/.Python
docs/Makefile
docs/pip-selfcheck.json
public-private-network
ansible/group_vars/attendee-jfonner
ansible/group_vars/attendee-ktraxler
ansible/group_vars/attendee-stevenrbrandt
ansible/group_vars/attendee-student1
ansible/group_vars/attendee-student2
ansible/group_vars/attendee-student3
ansible/group_vars
modules/agave
training
templates/traefik/ssl/hawaii.training.agaveplatform.org.crt
templates/traefik/ssl/hawaii.training.agaveplatform.org.key
templates/traefik/ssl/pearc.training.agaveplatform.org.crt
templates/traefik/ssl/pearc.training.agaveplatform.org.key
