terraform.tfstate
*.backup
overrides
.openstack.env
override.tf
stacks
keys/**
!keys/.gitkeep
.terraform
demo
public-pivate-network
*.tfvars
docs/include
docs/build
docs/bin
docs/build/doctrees
docs/lib
docs/build/html
docs/.Python
docs/Makefile
docs/pip-selfcheck.json
public-private-network
