# Ansible generated config file for traefik
{% if traefik_debug|bool %}
logLevel = "DEBUG"
{% else %}
[traefikLog]
  filePath = "/logs/traefik.log"

[accessLog]
  filePath = "/logs/access.log"
{% endif %}

defaultEntryPoints = ["http","https"]
[entryPoints]
  [entryPoints.http]
  address = ":80"
#    [entryPoints.http.redirect]
#      entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      CertFile = "/ssl/{{traefik_hostname}}.crt"
      KeyFile = "/ssl/{{traefik_hostname}}.key"

[web]
address = ":28443"
CertFile = "/ssl/{{traefik_hostname}}.crt"
KeyFile = "/ssl/{{traefik_hostname}}.key"

{#[web.metrics.prometheus]#}

[docker]
swarmmode = true
watch = true
{#network = "{{ swarm_overlay_network_name }}"#}
domain = "{{ traefik_hostname }}"
{#exposedByDefault = false#}

{% if traefik_acme_enabled|bool %}

# Enable ACME (Let's Encrypt): automatic SSL.
[acme]
onDemand = true
storage = "/ssl/acme.json"
acmeLogging = true
entryPoint = "https"
email = "{{traefik_acme_email}}"
[acme.httpChallenge]
  entryPoint = "http"
{% if traefik_acme_staging_enabled|bool %}
caServer = "{{ traefik_acme_staging_caserver }}"
{% endif %}

[[acme.domains]]
{% if traefik_acme_request_wilcard_cert|bool %}
main = "*.{{ traefik_hostname }}"
sans = ["{{ traefik_hostname }}"]
{% else %}
main = "{{ traefik_hostname }}"
sans = ["gitlab","{{ traefik_acme_sans | join('","') }}"]
{% endif %}

{% endif %}
