version: '2'

services:
  traefik:
    image: traefik:latest
    restart: on-failure
    ports:
      - "80:80"
      - "443:443"
      - "38443:8443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ gitlab_deploy_dir }}/traefik.toml:/etc/traefik/traefik.toml
      - {{ gitlab_cert_dir }}:/ssl
      - /var/logs/traefik:/logs
    networks:
      - gitlab
    mem_limit: 512m
    restart: on-failure
    labels:
      - "traefik.enable=true"

{% if gitlab_deploy_redis %}
  redis:
    restart: always
    image: redis:3.0.7-alpine
{#    volumes:#}
{#      - redis:/var/lib/redis#}
    networks:
      - gitlab
    labels:
      - "traefik.enable=false"
{% endif %}

{% if gitlab_deploy_postgres %}
  postgresql:
    restart: always
    image: postgres:9.6.2-alpine
    environment:
      - POSTGRES_USER={{ gitlab_postgres_db_user }}
      - POSTGRES_PASSWORD={{ gitlab_postgres_db_password }}
      - POSTGRES_DB={{ gitlab_postgres_db_name }}
    # the following are hints on what volumes to mount if you want to persist data
    volumes:
      - {{ gitlab_deploy_dir }}/postgresql:/var/lib/postgresql:rw
    networks:
      - gitlab
    labels:
      - "traefik.enable=false"
{% endif %}

  gitlab:
    image: 'gitlab/gitlab-ce:9.1.0-ce.0'
    restart: always
    hostname: '{{ gitlab_host }}'
    links:
      - postgresql:postgresql
      - redis:redis
    environment:
        GITLAB_OMNIBUS_CONFIG: |
            postgresql['enable'] = false
            gitlab_rails['db_username'] = "{{ gitlab_postgres_db_user }}"
            gitlab_rails['db_password'] = "{{ gitlab_postgres_db_password }}"
            gitlab_rails['db_host'] = "{{ gitlab_postgres_db_host }}"
            gitlab_rails['db_port'] = {{ gitlab_postgres_db_port}}
            gitlab_rails['db_database'] = "{{ gitlab_postgres_db_name }}"
            gitlab_rails['db_adapter'] = 'postgresql'
            gitlab_rails['db_encoding'] = 'utf8'
            gitlab_rails['db_extension'] = '{{ gitlab_postgres_db_extension }}'
            redis['enable'] = false
            gitlab_rails['redis_host'] = '{{ gitlab_redis_host }}'
            gitlab_rails['redis_port'] = '{{ gitlab_redis_port }}'
            external_url '{{ gitlab_external_url }}'
            gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_ssh_port }}
    ports:
        # both ports must match the port from external_url above
        - "30080:80"
        # the mapped port must match ssh_port specified above.
        - "{{gitlab_external_ssh_port}}:22"
    # the following are hints on what volumes to mount if you want to persist data
    volumes:
      - data/gitlab/config:/etc/gitlab:rw
      - {{ gitlab_log_dir }}:/var/log/gitlab:rw
      - {{ gitlab_data_dir }}:/var/opt/gitlab:rw
      - {{ gitlab_cert_dir }}:/etc/

  gitlab:
    restart: always
    image: {{ gitlab_image }}
    volumes:
      - {{ gitlab_data_dir }}:/home/git/data
      - {{ gitlab_log_dir }}:/home/git/gitlab/log
      - {{ gitlab_cert_dir }}:/certs
    hostname: {{ gitlab_host }}
    depends_on:
      - redis
      - postgresql
    ports:
      - "30180:80"
      - "{{ gitlab_ssh_port }}:22"
    external_links:
      - "registry:{{ gitlab_registry_host }}"
    env_file:
      - ./gitlab.env
      - ./postgres.env
    networks:
      - gitlab
    labels:
      - "traefik.enable=true"
      - "traefik.backend=gitlab"
      - "traefik.frontend.rule=Host:{{ gitlab_host }}"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.port=80"
      - "traefik.protocol=http"
      - "traefik.frontend.entryPoints=https,http"

{% if gitlab_deploy_registry %}
  registry:
    restart: always
    image: {{ gitlab_registry_image }}
    ports:
      - "5000:5000"
    volumes:
      - {{ gitlab_registry_data_dir }}:/var/lib/registry
      - {{ gitlab_cert_dir }}:/certs
    external_links:
      - "gitlab:{{ gitlab_host }}"
    env_file:
      - ./registry.env
    networks:
      - gitlab
    labels:
      - "traefik.enable=true"
      - "traefik.backend=gitlab_registry"
      - "traefik.frontend.rule=Host:{{ gitlab_registry_host }}"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.port=5000"
      - "traefik.protocol=https"
      - "traefik.frontend.entryPoints=https"
{% endif %}

networks:
  gitlab:
    external: true

volumes:
{% if gitlab_deploy_postgres %}
    postgresql:
{% endif %}{% if gitlab_deploy_redis %}
    redis:
{% endif %}
