DB_ADAPTER: "postgresql"
DB_HOST: "{{ gitlab_postgres_db_host }}"
DB_PORT: "{{ gitlab_postgres_db_port }}"
DB_USER: "{{ gitlab_postgres_db_user }}"
DB_PASS: "{{ gitlab_postgres_db_password }}"
DB_NAME: "{{ gitlab_postgres_db_name }}"
DB_EXTENSION: "{{ gitlab_postgres_db_extension }}"
